@import "./quasar.variables.scss";
@import "~quasar-styl";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: $background;
}
.m-0 {
  margin: 0;
}
.mb-2 {
  margin-bottom: 1.2em;
}
.q-field--outlined .q-field__control {
  border-radius: 1rem;
}
// @import '~quasar-addon-styl';
